<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <script src="./js/linksocket.js"></script>
    <title>sendMessage</title>
</head>

<body>
    <div class="container">
        <p class="friend"></p>
        <div>
            <input type="text" class="id">
            <button onclick="onClick()">点击</button>
        </div>
        <div class="sendmessage">
            <input type="text" class="message">
            <button class="btn">发送</button>
            <button class="close">关闭</button>
        </div>
        <div class="text"></div>
    </div>


    <script>
        let id;
        function onClick() {
            id = document.getElementsByClassName('id')[0].value;
        }

        function createNode(data, status) {
            const node = document.createElement('div');
            node.innerHTML = '<span>' + data.from + '：' + data.content + '</span>';
            if (status) {
                const span = document.createElement('span');
                span.classList.add('mysend' + mysend);
                span.classList.add('mysend');
                span.innerHTML = status;
                node.appendChild(span);
                mysend++;
            }
            document.getElementsByClassName('text')[0].appendChild(node);
        }

        // linkWebsocket({
        //     onmessage: function (message) {
        //         console.log('服务端：' + message.data);
        //         let msg = JSON.parse(message.data);

        //         if (!msg.from) return;
        //         if (msg.from === id) {
        //             document.getElementsByClassName(msg.id)[0].innerHTML = '已发送';
        //             return;
        //         }
        //         createNode(msg);
        //     },

        //     onclose: function () {
        //         console.log('关闭连接');
        //     }
        // });

        const dom = document.getElementsByClassName('btn')[0];
        let mysend = 0;
        dom.addEventListener('click', () => {
            const mes = document.getElementsByClassName('message')[0];
            const value = {
                from: id,
                id: 'mysend' + mysend,
                content: mes.value
            }
            createNode(value, '发送中');
            webSocket.send(JSON.stringify(value));
            mes.value = '';
        })

        document.getElementsByClassName('close')[0].addEventListener('click', () => {
            webSocket.close();
        })
    </script>
</body>

</html>